{% extends "base_email.html" %}
{% block content %}
    <div>
        <h4 style="font-size:24px;margin:0 0 20px 0; font: normal 1.5rem 'Silkscreen',sans-serif;color:#0072B5;">Data-Lunch Login Credentials</h4>
        <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
        <table>
            <tr>
            <td><strong>Username:</strong></td>
            <td style="background-color: #0072B5; color: #ffffff;">{{username}}</td>
            </tr>
            <tr>
            <td><strong>Password:</strong></td>
            <td style="background-color: #0072B5; color: #ffffff;">{{password}}</td>
            </tr>
        </table>
        </p>
    </div>
{% endblock %}