# Build container and push  on DockerHub

name: Build and push

# Trigger when pushing to main
on:
  push:
    tags:
      - 'v*'

#  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout 
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v3
        env:
          PANEL_APP: data-lunch-app
          PANEL_ENV: production
          PORT: 5000
          GCLOUD_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }}
        with:
          context: ./
          file: ./docker/web/Dockerfile.web
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/data-lunch-app:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/data-lunch-app:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/data-lunch-app:buildcache,mode=max
